/***** BODY/GENERAL *****/

body {
  font-family: 'Dosis', sans-serif;
  background-color: #ccc;
  text-align: center;
}

.jumbotron {
  margin-top: 0;
  text-align: center;
  height: 225px;
  font-size: 5em;
  color: white;
  background-image: url(../img/header_background.jpg);
  box-shadow: 0px 15px 20px #999;
}

button {
  height: 50px;
  width: 100px;
  color: #c8d7e3;
  background-color: #e15119;
}

button:hover {
  color: #000;
}

.contact_list {
  font-size: 1.3em;
}

h4 {
  font-size: 2em;
}

.main_contact_name {
  list-style: none;
}

li {
  font-size: 1.4em;
  list-style: inside;
  text-align: left;
}

/***** LINKS *****/

a {
  text-decoration: none;
  color: #c8d7e3;
}

a:visited {
  text-decoration: none;
  color: #c8d7e3;
}

a:hover {
  text-decoration: none;
  color: #000;
}
